html {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	box-sizing: border-box;
	cursor: default;
	user-select: none;
}

*,
:before,
:after {
	-webkit-transition: all .2s ease-out;
	box-sizing: inherit;
	overflow: hidden;
	transition: all .2s ease-out;
}

body {
	background: #340000 url('https://rvrvrv.github.io/img/tomatoes.jpg') center / cover no-repeat fixed;
	color: #fff;
	font: 26px Montserrat, sans-serif;
	letter-spacing: -1px;
	min-height: 100vw;
	text-align: center;
}

.main {
	max-width: 600px;
}

h1 {
	font: 2em/95% Shojumaru, cursive;
	margin: 1% 0 5%;
}

.controls {
	white-space: nowrap;
}

.innerControls {
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	line-height: 1.9em;
}

#sessionValue,
#breakValue {
	font-size: 2em;
	height: .9em;
	width: 1.4em;
}

.btn-sm {
	-webkit-transition: .1s;
	background-color: #2b0208;
	border: 3px outset #ffae8a;
	border-radius: 20px;
	font-size: 2.3em;
	line-height: .8em;
	outline: none!important;
	transition: .1s;
	width: 50px;
}

#sessionPlus,
#breakPlus {
	padding-left: 8px;
}

.clock {
	-webkit-transition: .03s;
	background: #000;
	border-radius: 40px;
	box-shadow: 0 0 20px #000;
	cursor: pointer;
	margin: 5%;
	min-height: 50vh;
	transition: .03s;
}

.clock:active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
}

#timerLabel {
	padding-bottom: 2px;
}

#timer {
	font-size: 7em;
	margin-top: 12vh;
}

footer {
	font-size: .6em;
	margin-top: 5vh;
}

.btn-sm:active,
.clock:hover,
h1:hover {
	color: #ffae8a;
}

/* For mobile devices */

@media screen and orientation portrait and max-height 768px {
	body {
		font-size: 22px;
	}
	.clock {
		min-height: 60vh;
	}
	footer {
		display: none;
	}
}

@media screen and orientation landscape and max-width 768px {
	body {
		font-size: 20px;
	}
	br,
	br:after {
		content: ' '!important;
	}
	.controls {
		margin: -4% 0;
	}
	#timerLabel {
		margin: 1% 0 -5%;
	}
	footer {
		display: none;
	}
}
