html {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	overflow: hidden;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

body {
	background: #340000 url('https://i.imgsafe.org/b495b93ce5.png') center /cover no-repeat fixed;
	min-height: 100vw;
	color: #fff;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}


.main {
	min-width: 400px;
	max-width: 600px;
}

h1 {
	font-family: 'Shojumaru', cursive;
	font-size: 5rem;
	margin-top: 0px;
}

.controls {
	margin-top: 5%;
	font-size: 3rem;
	line-height: 1.5em;
	white-space: nowrap;
}

.innerControls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

span {
	font-size: 5rem;
	width: 70px;
	height: 45px;
}

.btn-sm {
	width: 50px;
	font-size: 6rem;
	line-height: 5rem;
	background-color: #2b0208;
	border: 3px outset #ffae8a;
	border-radius: 20px;
	outline: none !important;
	-webkit-transition: .1s;
	transition: .1s;
}

.btn-sm:active {
	color: #ffae8a;
}

.clock {
	margin: 10% 5%;
	cursor: pointer;
	border-radius: 40px;
	background: #000;
	box-shadow: 0 0 20px #000;
	-webkit-transition: .03s;
	transition: .03s;
}

.clock:hover,
h1:hover {
	color: #ffae8a;
}

.clock:active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
}

#timerLabel {
	padding-bottom: 2px;
}

#timer {
	font-size: 8rem;
}

h4 {
	position: absolute;
	bottom: 5px;
	letter-spacing: 1.3px;
}

/* For mobile devices */

@media screen and (orientation: portrait) and (max-height: 768px) {
	html {
		font-size: 60%;
	}
	.main {
		min-width: 100vw;
	}
	.clock {
		margin-top: 10%;
		min-height: 36vh;
	}
}

@media screen and (orientation: landscape) and (max-width: 768px) {
	html {
		font-size: 60%;
	}
	.main {
		min-width: 100vw;
	}
	br, br:after {
		content: ' ';
	}
	.controls {
		margin: -1% 0 5% 0;
	}
	.clock {
		margin: 0 5%;
		padding: 0;
		max-height: 48vh;
	}
	#timerLabel {
		margin: 1% 0 2% 0;
	}
	h4 {
		display: none;
	}
}
